.env
*.env.*
*.log
htmlcov/
.tox/
.nox/
.coverage
.cache
.pytest_cache/
build/
dist/
*.egg-info/
*.egg
.DS_Store
Thumbs.db
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
env/
*.env
.vscode/
.idea/
instance/
*.db
*.sqlite3
user-template/tempCodeRunnerFile.py
*.log
*.json
*.txt