<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <title>Yeni Şifre Belirle</title>
    <script src="{{url_for('static', filename='js/token.js') }}"></script>
</head>
<body>
    <h2>Yeni Şifre Belirleyin</h2>
    <form action="/reset-password?token={{ token }}" method="post" onsubmit="submitForm(event)">
        <label for="new_password">Yeni Şifre:</label>
        <input type="password" id="new_password" name="new_password" required>
        <button type="submit">Şifreyi Güncelle</button>
    </form>
</body>
</html>


